<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--GOOGLE SEARCH API-->
    <add key="GoogleSearchUrl" value="https://www.googleapis.com/customsearch/v1?key="/>
    <add key="GoogleCx" value="003402237301993899061:dgkzctkomxy"/>
    <add key="GoogleKey" value="AIzaSyCmP49lJ39C_ZDU93K_jLcGFayxi4cRVGQ"/>
    
    <!--BING SEARCH API-->
    <add key="BingSearchUrl" value="https://api.cognitive.microsoft.com/bingcustomsearch/v7.0/search?q="/>
    <add key="BingCustomConfigId" value="a5714bd1-0506-471d-ac3e-7470f1bfa4f4"/>
    <add key="BingKey" value="30b68e8cc7d743358e595af1f0740acb"/>
  </appSettings>
</configuration>